* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.registration {
  display: flex;
}

.reg__left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.reg__text-container {
  margin-top: 225px;
  width: 60%;
}
.reg__text-container h1 {
  color: #11175d;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 34.4px;
}
.reg__text-container p {
  color: #000000;
  font-size: 20.64px;
  font-family: "Nunito", sans-serif;
  margin-top: 13px;
  margin-bottom: 60px;
}
.reg__right {
  width: 50%;
  height: 100vh;
}
.reg__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reg__input {
  width: 90%;
  margin: 20px 0 !important;
}
.reg__button {
  font-size: 20.64px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  width: 90%;
  padding: 15px 0 !important;
  border-radius: 86px !important;
  margin-top: 35px !important;
}
.signup__link {
  color: #ea6c00;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 13.34px;
}
.link__text {
  color: #03014c;
  font-family: "Open Sans", sans-serif;
  font-size: 13.34px;
}
.link__container {
  margin-top: 35px;
  width: 90%;
  display: flex;
  justify-content: center;
}
.error {
  width: 90%;
}
.eye {
  color: #03014c;
  position: relative;
  top: 41px;
  right: 35px;
}
