* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.registration {
  display: flex;
}

.reg__left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.reg__text-container {
  margin-top: 225px;
  width: 60%;
}
.reg__text-container h1 {
  color: #11175d;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 34.4px;
}
.reg__text-container p {
  color: #000000;
  font-size: 20.64px;
  font-family: "Nunito", sans-serif;
  margin-top: 13px;
  margin-bottom: 60px;
}
.reg__right {
  width: 50%;
  height: 100vh;
}
.reg__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reg__input {
  width: 90%;
  margin: 20px 0 !important;
}
.reg__button {
  font-size: 20.64px;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  width: 90%;
  padding: 15px 0 !important;
  border-radius: 86px !important;
  margin-top: 35px !important;
}
.signup__link {
  color: #ea6c00;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 13.34px;
  text-decoration: none;
}
.link__text {
  color: #03014c;
  font-family: "Open Sans", sans-serif;
  font-size: 13.34px;
}
.link__container {
  margin-top: 35px;
  width: 90%;
  display: flex;
  justify-content: center;
}
.error {
  width: 90%;
}
.eye {
  color: #03014c;
  position: relative;
  top: 41px;
  right: 35px;
}

.link__container .link {
  margin-bottom: 0;
  margin-top: 0;
}
.forgot__container {
  background: #999999;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forgot__box {
  background: #e6e6e6;
  padding: 20px;
  width: 50%;
}
.forgot__text {
  margin-bottom: 10px;
}
.forgot__btn {
  margin-bottom: 15px !important;
}
.sidebar {
  background: #5f35f5;
  height: 95vh;
  width: 90%;
  margin: auto;
  margin-top: 2.5vh;
  text-align: center;
  padding: 38px 0;
  border-radius: 20px;
}
.sidebar__img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.sidebar h3 {
  color: white;
}

.sidebar ul li {
  list-style: none;
  margin: 42px;
}
.icon {
  color: white;
  font-size: 36px;
}
.active {
  position: relative;
  z-index: 2;
}
.active .icon {
  color: #5f35f5;
}
.active::before {
  position: absolute;
  top: -19px;
  left: 31px;
  width: 201px;
  height: 88px;
  background: white;
  content: "";
  z-index: -1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.active::after {
  position: absolute;
  top: -19px;
  right: -42px;
  width: 10px;
  height: 88px;
  background: #5f35f5;
  content: "";
  z-index: -1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.box {
  width: 427px;
  height: 46vh;
  background: white;
  margin-top: 2.5vh;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
}
.list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  border-bottom: 2px solid #00000025;
  padding-bottom: 13.5px;
}
.list:last-child {
  border-bottom: 0;
}
